flows/Close_Recurring_Donation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>RecurringDonationUpdate</name>
        <label>RecurringDonationUpdate</label>
        <locationX>446</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>getRecurringDonation.npsp__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRecurringDonation.npsp__ClosedReason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>In_Active_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getOrphansToDeactivate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>updateOrphanStatus</name>
        <label>updateOrphanStatus</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>getOrphansToDeactivate.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOrphan</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Record_Found</name>
        <label>Check If Record Found</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>CloseRecurringDonation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Any_Orphan_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOrphansToDeactivate.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateOrphanStatus</targetReference>
            </connector>
            <label>If Any Orphan Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_recurring_donation_has_been_cancelled</name>
        <label>check if recurring donation has been cancelled</label>
        <locationX>1128</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecurringDonation.npsp__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecurringDonationUpdate</targetReference>
            </connector>
            <label>Check status</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CloseStatusReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>npsp__ClosedReason__c</picklistField>
        <picklistObject>npe03__Recurring_Donation__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>todaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Cancel Recurring Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Close Recurring Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getOrphansToDeactivate</name>
        <label>getOrphansToDeactivate</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Record_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CloseRecurringDonation_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sponsorship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRecurringDonation</name>
        <label>getRecurringDonation</label>
        <locationX>1128</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_recurring_donation_has_been_cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>CloseRecurringDonation</name>
        <label>CloseRecurringDonation</label>
        <locationX>446</locationX>
        <locationY>1622</locationY>
        <faultConnector>
            <targetReference>Error_Occurred</targetReference>
        </faultConnector>
        <inputReference>getRecurringDonation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseRecurringDonation_0</name>
        <label>CloseRecurringDonation</label>
        <locationX>1282</locationX>
        <locationY>758</locationY>
        <faultConnector>
            <targetReference>Error_Occurred_0</targetReference>
        </faultConnector>
        <inputReference>getRecurringDonation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>CloseRecurringDonation_0_0</name>
        <label>CloseRecurringDonation</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <faultConnector>
            <targetReference>Error_Occurred_0_0</targetReference>
        </faultConnector>
        <inputReference>getRecurringDonation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOrphan</name>
        <label>UpdateOrphan</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>CloseRecurringDonation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CloseRecurringDonation_0_0</targetReference>
        </faultConnector>
        <inputReference>getOrphansToDeactivate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Close_Payment_Plan</name>
        <label>Close Payment Plan</label>
        <locationX>1128</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getRecurringDonation</targetReference>
        </connector>
        <fields>
            <name>In_Active_Reason</name>
            <choiceReferences>CloseStatusReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In Active Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred</name>
        <label>Error Occurred</label>
        <locationX>1018</locationX>
        <locationY>1742</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlautMessage</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred_0</name>
        <label>Error Occurred</label>
        <locationX>1546</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlautMessage_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred_0_0</name>
        <label>Error Occurred</label>
        <locationX>578</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FlautMessage_0_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1002</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Close_Payment_Plan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
