flows/Create_Case_for_Pardot_Tasks.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignOwner</name>
        <label>AssignOwner</label>
        <locationX>107</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>theOwner.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_the_owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_the_owner</name>
        <label>Check the owner</label>
        <locationX>369</locationX>
        <locationY>445</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_owner_is_majed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theOwner.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Majed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c</targetReference>
            </connector>
            <label>Check if owner is majed</label>
        </rules>
        <rules>
            <name>check_if_owner_is_Samina</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theOwner.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Samina</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_0</targetReference>
            </connector>
            <label>check if owner is Samina</label>
        </rules>
        <rules>
            <name>check_if_owner_is_razwan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>theOwner.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Razwan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>c_0_0</targetReference>
            </connector>
            <label>check if owner is razwan</label>
        </rules>
    </decisions>
    <interviewLabel>Create Case for Pardot Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case for Pardot Tasks</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_a_case</name>
        <label>Create a case</label>
        <locationX>853</locationX>
        <locationY>298</locationY>
        <connector>
            <targetReference>update_task_with_new_case_what_id</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Initial_Response_Date__c</field>
            <value>
                <elementReference>$Record.ActivityDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>c.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>$Record.Subject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get Donation Support Queue Id</description>
        <name>c</name>
        <label>GetDonationQueueId</label>
        <locationX>560</locationX>
        <locationY>90</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation_Support</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Donation Support Queue Id</description>
        <name>c_0</name>
        <label>GetDonationQueueId</label>
        <locationX>558</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Comms</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Donation Support Queue Id</description>
        <name>c_0_0</name>
        <label>GetDonationQueueId</label>
        <locationX>620</locationX>
        <locationY>609</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Fundraising</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_task_with_new_case_what_id</name>
        <label>update task with new case what id</label>
        <locationX>1304</locationX>
        <locationY>384</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Create_a_case</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <start>
        <locationX>80</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>AssignOwner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pardot Case</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>majedQueue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>queueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>theOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
