flows/Create_Pledge.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>GAU_ASsignment</name>
        <label>GAU ASsignment</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PledgeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_GAU</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>gauIDAssignment</name>
        <label>gauIDAssignment</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllCampaignGAUChoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pledge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Donor Id</description>
        <name>Set_Donor_Id</name>
        <label>Set Donor Id</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>DonorRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Pledge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Item_Id</name>
        <label>Set Item Id</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>obj_GAUAllocation.npsp__General_Accounting_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Item</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pledge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Campaign_Id</name>
        <label>Set Parent Campaign Id</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ParentCampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Pledge</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_if_other_is_selected</name>
        <label>Check if other is selected</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>gauIDAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>List_Donation_Items</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Other</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Donation_Items</targetReference>
            </connector>
            <label>Other</label>
        </rules>
    </decisions>
    <decisions>
        <description>Set Parent Campaign or Donor Record Id</description>
        <name>Check_Record_Id_Key_Prefix</name>
        <label>Check Record Id Key Prefix</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>New_Pledge</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckForContactKeyPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Donor_Id</targetReference>
            </connector>
            <label>CheckForContactKeyPrefix</label>
        </rules>
        <rules>
            <name>CheckForCampaignKeyPrefix</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Parent_Campaign_Id</targetReference>
            </connector>
            <label>CheckForCampaignKeyPrefix</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AllCampaignGAUChoice</name>
        <dataType>String</dataType>
        <displayField>GAU_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCampaign.recordId</elementReference>
            </value>
        </filters>
        <object>npsp__Allocation__c</object>
        <valueField>npsp__General_Accounting_Unit__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllGAUs</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fund</stringValue>
            </value>
        </filters>
        <filters>
            <field>Regional_Office_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General</stringValue>
            </value>
        </filters>
        <limit>50</limit>
        <object>npsp__General_Accounting_Unit__c</object>
        <outputAssignments>
            <assignToReference>DonationItemCode</assignToReference>
            <field>Donation_Item_Code__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CampaignStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CurrentUserPaymentCode</name>
        <dataType>String</dataType>
        <expression>Text({!$User.Payment_Country_Code__c})</expression>
    </formulas>
    <formulas>
        <name>endDate</name>
        <dataType>Date</dataType>
        <expression>{!startDate} + 1095</expression>
    </formulas>
    <formulas>
        <name>PlegdeName</name>
        <dataType>String</dataType>
        <expression>{!Donor.recordName}&amp;&apos;-&apos;&amp;Text({!Pledged_Amount})&amp;&apos;-&apos;&amp;{!DonationItemCode}</expression>
    </formulas>
    <formulas>
        <name>startDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Create Pledge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Pledge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_GAU</name>
        <label>Create GAU</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <faultConnector>
            <targetReference>Item_Allocation_Error</targetReference>
        </faultConnector>
        <inputReference>obj_GAUAllocation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Pledge</name>
        <label>Create Pledge</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignRecordIdToReference>PledgeID</assignRecordIdToReference>
        <connector>
            <targetReference>GAU_ASsignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Pledge_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>Donor.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fundraiser_Person__c</field>
            <value>
                <elementReference>Fundraiser_Person.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PlegdeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>ParentCampaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pledged_Amount__c</field>
            <value>
                <elementReference>Pledged_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Campaign</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pledge</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Donation_Items</name>
        <label>Donation Items</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_if_other_is_selected</targetReference>
        </connector>
        <fields>
            <name>List_Donation_Items</name>
            <choiceReferences>Other</choiceReferences>
            <choiceReferences>AllCampaignGAUChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Donation Items</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Item_Allocation_Error</name>
        <label>Item Allocation Error</label>
        <locationX>754</locationX>
        <locationY>1670</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ItemFaultMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Pledge</name>
        <label>New Pledge</label>
        <locationX>314</locationX>
        <locationY>494</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
        <fields>
            <name>ParentCampaign</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ParentId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Primary Campaign Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ParentCampaignId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Donor</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Donor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Donor</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>DonorRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Fundraiser_Person</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Fundraiser_Person__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Fundraiser Person</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>CampaignStatus</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>startDate</elementReference>
            </defaultValue>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>endDate</elementReference>
            </defaultValue>
            <fieldText>End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Pledged_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <numberValue>100.0</numberValue>
            </defaultValue>
            <fieldText>Pledged Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Donation_Items</name>
        <label>Other Donation Items</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Item_Id</targetReference>
        </connector>
        <fields>
            <name>Select_Item</name>
            <choiceReferences>AllGAUs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Item</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pledge_Error</name>
        <label>Pledge Error</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Id_Key_Prefix</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALL_Campaigns</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>All_Campaigns_Multi</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>DonationItemCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonorRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>obj_GAUAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>ParentCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PledgeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
