flows/DeleteContactFromMembers.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>check_Call_List_Exists</name>
        <label>check Call List Exists</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>GetContactMembers_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_ListExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delete_Call_List</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Call List Exists True</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_contact_exists_in_campaign</name>
        <label>check if contact exists in campaign</label>
        <locationX>374</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_List_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetCallList_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactMembers_0_0</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteCampaignMember</targetReference>
            </connector>
            <label>Call List Exists</label>
        </rules>
    </decisions>
    <interviewLabel>DeleteContactFromMembers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DeleteContactFromMembers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteCallItemsFromCallList</name>
        <label>DeleteCallItemsFromCallList</label>
        <locationX>242</locationX>
        <locationY>758</locationY>
        <inputReference>Delete_Call_List</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeleteCampaignMember</name>
        <label>DeleteCampaignMember</label>
        <locationX>242</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>DeleteCallItemsFromCallList</targetReference>
        </connector>
        <inputReference>Delete_Camapign_Members</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>GetCallList_0</name>
        <label>GetCallList</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Call_List_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactVariable.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Owner_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <object>Call_List__c</object>
        <outputReference>Delete_Call_List</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>ContactId__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetContactMembers_0_0</name>
        <label>GetContactMembers</label>
        <locationX>374</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_contact_exists_in_campaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactVariable.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outbound_Calling</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>To Call</stringValue>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>Delete_Camapign_Members</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCallList_0</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ContactVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Delete_Call_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Call_List__c</objectType>
    </variables>
    <variables>
        <name>Delete_Camapign_Members</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
