flows/GDPR_Delete.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Content_To_Notes</name>
        <label>Assign Content To Notes</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>GDPR_Note.Content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GDPR_Details</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GDPR_Note.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GDPR_Note.SharingPrivacy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Note_Sharing_Privacy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Notes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CDN_Link_To_RecordID</name>
        <label>CDN Link To RecordID</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GDPR_Note.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Content_Document_Link</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Values_For_the_Retrieve_Donor</name>
        <label>Clear Values For the Retrieve Donor</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>getDonorDetails.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GDPR_First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GDPR_Last_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.Phone</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.GDPR_Delete__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getDonorDetails.Salutation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Donor_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <constants>
        <name>Confirmation_Message</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Are you sure ,you want to GDPR Delete?</stringValue>
        </value>
    </constants>
    <constants>
        <name>GDPR_First_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GDPR</stringValue>
        </value>
    </constants>
    <constants>
        <name>GDPR_Last_Name</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Deleted</stringValue>
        </value>
    </constants>
    <constants>
        <name>Note_Sharing_Privacy</name>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </constants>
    <constants>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <value>
            <stringValue>GDPR Deleted Information</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_For_Confirmation_Decision</name>
        <label>Check For Confirmation Decision</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Buttons</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getDonorDetails</targetReference>
            </connector>
            <label>Check For Yes</label>
        </rules>
    </decisions>
    <interviewLabel>GDPR Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GDPR Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Link</name>
        <label>Create Content Document Link</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Clear_Values_For_the_Retrieve_Donor</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Occurred_0</targetReference>
        </faultConnector>
        <inputReference>ContentDocumentLink</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Notes</name>
        <label>Create Notes</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>CDN_Link_To_RecordID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Occurred</targetReference>
        </faultConnector>
        <inputReference>GDPR_Note</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getDonorDetails</name>
        <label>getDonorDetails</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Content_To_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>GDPR_Delete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Donor_Details</name>
        <label>Update Donor Details</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <faultConnector>
            <targetReference>Error_Occurred_0_0</targetReference>
        </faultConnector>
        <inputReference>getDonorDetails</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_For_Confirmation_Decision</targetReference>
        </connector>
        <fields>
            <name>Buttons</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Are You sure, You want to Delete?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred</name>
        <label>Error Occurred</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred_0</name>
        <label>Error Occurred</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Occurred_0_0</name>
        <label>Error Occurred</label>
        <locationX>314</locationX>
        <locationY>1238</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage_0_0</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>$Flow.FaultMessage</elementReference>
            </defaultValue>
            <fieldText>Error Message</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>GDPR_Details</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Salutation:{!getDonorDetails.Salutation}&lt;/p&gt;&lt;p&gt;First Name:{!getDonorDetails.FirstName}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Last Name:{!getDonorDetails.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Donor Id : {!getDonorDetails.Donor_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;DMS Donor Id : {!getDonorDetails.DMS_Supporter_ID__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Email:{!getDonorDetails.Email} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;Address:&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!getDonorDetails.MailingStreet}&amp;amp;&apos;, &apos;&amp;amp;{!getDonorDetails.MailingCity}&amp;amp;&apos;, &apos;&amp;amp;{!getDonorDetails.MailingState}&amp;amp;&apos;, &apos;&amp;amp;{!getDonorDetails.MailingPostalCode}&amp;amp;&apos;, &apos;&amp;amp;{!getDonorDetails.MailingCountry}﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Phone:{!getDonorDetails.Phone}&lt;/p&gt;&lt;p&gt;Mobile:{!getDonorDetails.MobilePhone}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>GDPR_Note</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentNote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
