flows/Gift_Aid_Automation_when_opp_created.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_the_allocation_value_0</name>
        <label>Assign the allocation value</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>GiftAidEligibleValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_GAU.npsp__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_GAU</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Gift Aid Automation when opp created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Aid Automation when opp created</label>
    <loops>
        <name>Loop_through_GAU</name>
        <label>Loop through GAU</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_GAU_items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_allocation_value_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_Gift_Aid_Eligible</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GAU_items</name>
        <label>Get GAU items</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_GAU</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Gift_Aid_Eligible_Allocation__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>npsp__Allocation__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Gift_Aid_Eligible_Allocation__c</queriedFields>
        <queriedFields>npsp__General_Accounting_Unit__c</queriedFields>
        <queriedFields>npsp__Amount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_Gift_Aid_Eligible</name>
        <label>Update Opportunity Gift Aid Eligible</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gift_Aid_Eligible_Value__c</field>
            <value>
                <elementReference>GiftAidEligibleValue</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GAU_items</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>all the General Account units that are Gift Aid Eligible</description>
        <name>col_GAUs_to_be_updated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>GiftAidEligibleValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>obj_loopAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
