flows/Gift_Aid_Declaration_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>UpdatedGiftAidIdBlank</name>
        <label>UpdatedGiftAidIdBlank</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>giftAidDeclarationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ContactGidAidId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_if_previous_status_was_unspecified</name>
        <label>check if previous status was unspecified</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>CreateGiftAidDeclaration_Yes_No_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnspecifiedGiftAidStatus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessBuilderUnspecifiedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProcessBuilderContact.Gift_Aid_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unspecified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateLastGiftAidDeclaration</targetReference>
            </connector>
            <label>UnspecifiedGiftAidStatus</label>
        </rules>
        <rules>
            <name>previousValueUnspecified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProcessBuilderUnspecifiedCheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProcessBuilderContact.Gift_Aid_Declaration_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateGiftAidDeclaration_0</targetReference>
            </connector>
            <label>previousValueUnspecified</label>
        </rules>
    </decisions>
    <formulas>
        <name>effectiveDateFromUnspecified</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 1460</expression>
    </formulas>
    <formulas>
        <name>todaysDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Website_OR_Verbal</name>
        <dataType>String</dataType>
        <expression>If({!$Permission.Gift_Aid_Source_as_Website},&apos;Website&apos;,&apos;Verbal&apos;)</expression>
    </formulas>
    <interviewLabel>Gift Aid Declaration Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Gift Aid Declaration Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateGiftAidDeclaration_0</name>
        <label>CreateGiftAidDeclaration</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>giftAidDeclarationId</assignRecordIdToReference>
        <connector>
            <targetReference>ContactGidAidId</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>ProcessBuilderContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Effective_Date__c</field>
            <value>
                <elementReference>effectiveDateFromUnspecified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Source__c</field>
            <value>
                <elementReference>Website_OR_Verbal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Start_Date__c</field>
            <value>
                <elementReference>effectiveDateFromUnspecified</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Status__c</field>
            <value>
                <elementReference>ProcessBuilderContact.Gift_Aid_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Gift_Aid_Declaration__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateGiftAidDeclaration_Yes_No_0</name>
        <label>CreateGiftAidDeclaration_Yes_No</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>giftAidDeclarationId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateLastGiftAidDeclaration_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donor__c</field>
            <value>
                <elementReference>ProcessBuilderContact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Effective_Date__c</field>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Source__c</field>
            <value>
                <elementReference>Website_OR_Verbal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Start_Date__c</field>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_Status__c</field>
            <value>
                <elementReference>ProcessBuilderContact.Gift_Aid_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>Gift_Aid_Declaration__c</object>
    </recordCreates>
    <recordUpdates>
        <name>ContactGidAidId</name>
        <label>ContactGiftAidId</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessBuilderContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Gift_Aid_Declaration_Id__c</field>
            <value>
                <elementReference>giftAidDeclarationId</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLastGiftAidDeclaration</name>
        <label>UpdateLastGiftAidDeclaration</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>UpdatedGiftAidIdBlank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessBuilderContact.Gift_Aid_Declaration_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_End_Date__c</field>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Gift_Aid_Declaration__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLastGiftAidDeclaration_0</name>
        <label>UpdateLastGiftAidDeclaration</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>ContactGidAidId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProcessBuilderContact.Gift_Aid_Declaration_Id__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gift_Aid_End_Date__c</field>
            <value>
                <elementReference>todaysDate</elementReference>
            </value>
        </inputAssignments>
        <object>Gift_Aid_Declaration__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_if_previous_status_was_unspecified</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>giftAidDeclarationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GiftAidDeclarationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>ProcessBuilderContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ProcessBuilderUnspecifiedCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
