flows/New_Donation_Create_Opportunity.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_New_Opportunity</name>
        <label>Redirect to New Opportunity</label>
        <locationX>915</locationX>
        <locationY>204</locationY>
        <actionName>c:redirectToRecord</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>Set Opportunity Id in collection</description>
        <name>Assign_Opportunity_Id</name>
        <label>Assign Opportunity Id</label>
        <locationX>393</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>sobj_loopAllocation.npsp__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunityId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Product_Allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign Product Allocation</description>
        <name>Assign_Product_Allocation</name>
        <label>Assign Product Allocation</label>
        <locationX>676</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>coll_CreateProductAllocation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobj_loopAllocation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
    </assignments>
    <description>Create Opportunity with Allocations</description>
    <interviewLabel>New Donation Create Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>New Donation Create Opportunity</label>
    <loops>
        <name>Loop_Allocations</name>
        <label>Loop Allocations</label>
        <locationX>393</locationX>
        <locationY>218</locationY>
        <assignNextValueToReference>sobj_loopAllocation</assignNextValueToReference>
        <collectionReference>coll_ProductAllocations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunity_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Product_Allocations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Opportunity</description>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>224</locationX>
        <locationY>217</locationY>
        <assignRecordIdToReference>opportunityId</assignRecordIdToReference>
        <connector>
            <targetReference>Loop_Allocations</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>donationAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>varCurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Donation_Type__c</field>
            <value>
                <elementReference>donationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>System Generated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Awaiting Payment Details</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <description>Create Product Allocations</description>
        <name>Create_Product_Allocations</name>
        <label>Create Product Allocations</label>
        <locationX>740</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Redirect_to_New_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <inputReference>coll_CreateProductAllocation</inputReference>
    </recordCreates>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>396</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Show_Variables_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>60</locationX>
        <locationY>216</locationY>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Account Id</description>
        <name>accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Products allocations to be inserted</description>
        <name>coll_CreateProductAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <description>Product Allocations Input</description>
        <name>coll_ProductAllocations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <description>Contact Id</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total Donation Amount</description>
        <name>donationAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Donation Type</description>
        <name>donationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>An Opportunity Record</description>
        <name>Opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sobj_loopAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>varCurrencyIsoCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
