flows/Orphan_Photo_Upload.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_Activity_Photo_Uploaded</name>
        <label>Is Activity Photo Uploaded</label>
        <locationX>1521</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activity_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_Photo_Upload</targetReference>
            </connector>
            <label>Yes Activity</label>
        </rules>
        <rules>
            <name>No_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Activity_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Error_Message</targetReference>
            </connector>
            <label>No Activity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Family_Photo_Uploaded</name>
        <label>Is Family Photo Uploaded</label>
        <locationX>1012</locationX>
        <locationY>440</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Family_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Family_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orphan_During_Activity_Upload</targetReference>
            </connector>
            <label>Family Yes</label>
        </rules>
        <rules>
            <name>Family_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Family_Records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Family_Error_Message</targetReference>
            </connector>
            <label>Family No</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Profile_Photo_Uploaded</name>
        <label>is Profile Photo Uploaded</label>
        <locationX>581</locationX>
        <locationY>237</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile_Photo_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Orphan_With_Family_Upload</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile_Photo_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Profile</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Orphan Photo Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orphan Photo Upload</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Activity_Records</name>
        <label>Get Activity Records</label>
        <locationX>1516</locationX>
        <locationY>439</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Activity_Photo_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan_Visit_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sharinpix__Tags__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>#OrphanDuringActivity#</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sharinpix__SharinPixImage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Family_Records</name>
        <label>Get Family Records</label>
        <locationX>759</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Family_Photo_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan_Visit_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sharinpix__Tags__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>#OrphanWithFamily#</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sharinpix__SharinPixImage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_Photo_Record</name>
        <label>Get Profile Photo Record</label>
        <locationX>367</locationX>
        <locationY>234</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>is_Profile_Photo_Uploaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan_Visit_Form__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>sharinpix__Tags__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>#ProfilePhoto#</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>sharinpix__SharinPixImage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Activity_Error_Message</name>
        <label>Activity Error Message</label>
        <locationX>1612</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Orphan_During_Activity_Upload</targetReference>
        </connector>
        <fields>
            <name>Activity_Error_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(247, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Please Upload Orphan&apos;s Photo During Activity .&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message_Profile</name>
        <label>Error Message Profile</label>
        <locationX>593</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Profile_Photo_Upload</targetReference>
        </connector>
        <fields>
            <name>Error_Message_Profile_Photo_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(228, 3, 3);&quot;&gt;Please Enter the Orphan Profile Photo.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Family_Error_Message</name>
        <label>Family Error Message</label>
        <locationX>984</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Orphan_With_Family_Upload</targetReference>
        </connector>
        <fields>
            <name>Family_Error_Message_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(247, 0, 0);&quot;&gt;Please Upload Orphan Photo with Family.&lt;/b&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Orphan_During_Activity_Upload</name>
        <label>Orphan During Activity Upload</label>
        <locationX>1316</locationX>
        <locationY>440</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Activity_Records</targetReference>
        </connector>
        <fields>
            <name>Orphan_During_Activity_Upload_Pic_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Orphan During Activity Photo Upload&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Orphan_During_Activity_Upload_Pic</name>
            <extensionName>sharinpix:SingleImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tag</name>
                <value>
                    <stringValue>OrphanDuringActivity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>albumId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageSync</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Orphan_With_Family_Upload</name>
        <label>Orphan With Family Upload</label>
        <locationX>758</locationX>
        <locationY>236</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Family_Records</targetReference>
        </connector>
        <fields>
            <name>Orphan_with_Family_Pic_Upload_Text</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Orphan with Family Photo Upload&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Orphan_with_Family_Pic_Upload</name>
            <extensionName>sharinpix:SingleImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tag</name>
                <value>
                    <stringValue>OrphanWithFamily</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>albumId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageSync</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Other_Photo_Upload</name>
        <label>Other Photo Upload</label>
        <locationX>1309</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Other_Photo_Upload_Pic_Text</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Other Photos Upload&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Other_Photo_Upload_Pic</name>
            <extensionName>sharinpix:SingleImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tag</name>
                <value>
                    <stringValue>OtherPhoto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>albumId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageSync</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Profile_Photo_Upload</name>
        <label>Profile Photo Upload</label>
        <locationX>370</locationX>
        <locationY>85</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Profile_Photo_Record</targetReference>
        </connector>
        <fields>
            <name>Profile_Photo_Upload_Header</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Orphan Profile Photo Upload&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Profile_Photo_Upload_Com</name>
            <extensionName>sharinpix:SingleImage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>tag</name>
                <value>
                    <stringValue>ProfilePhoto</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>albumId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableImageSync</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableCrop</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>refreshView</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Profile_Photo_Upload</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
