flows/Orphan_Selector.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Orphan</name>
        <label>Add Orphan</label>
        <locationX>800</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>sobj_SelectedOrphanAllocation.Orphan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Orphans_Allocation.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Orphans_Allocation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Orphan_0</name>
        <label>Add Orphan</label>
        <locationX>974</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>orphanID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobj_SelectedOrphanAllocation.Orphan__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_ID</name>
        <label>Assign ID</label>
        <locationX>326</locationX>
        <locationY>389</locationY>
        <assignmentItems>
            <assignToReference>alreadySelectedOrphanId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_if_already_Selected.Orphan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_already_Selected</targetReference>
        </connector>
    </assignments>
    <description>selectable list of orphans</description>
    <interviewLabel>Orphan_Selector {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>Orphan_Selector</label>
    <loops>
        <description>Loop through allocation collection to check if orphan is already selected</description>
        <name>Check_if_already_Selected</name>
        <label>Check if already Selected</label>
        <locationX>333</locationX>
        <locationY>199</locationY>
        <collectionReference>coll_ProductAllocation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Orphan_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Orphans_Allocation</name>
        <label>Selected Orphans Allocation</label>
        <locationX>800</locationX>
        <locationY>199</locationY>
        <collectionReference>selectedOrphans</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Orphan</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Orphan_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact_Record_Type</name>
        <label>Get Contact Record Type</label>
        <locationX>173</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_already_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orphan</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orphan_Contact</name>
        <label>Get Orphan Contact</label>
        <locationX>506</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_An_Orphan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Country__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>orphanCountry</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>alreadySelectedOrphanId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_Record_Type.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sponsorship_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sponsored By Us/Unsponsored</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>allOrphansReturned</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Sponsorship_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Sponsorship_Renewal_Date__c</queriedFields>
        <queriedFields>Birthdate</queriedFields>
    </recordLookups>
    <screens>
        <name>Select_An_Orphan</name>
        <label>Select An Orphan</label>
        <locationX>648</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Orphans_Allocation</targetReference>
        </connector>
        <fields>
            <name>SelectAnOrphan</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Select an Orphan from Table&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OrphanTable</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>mydata_standard4</name>
                <value>
                    <elementReference>allOrphansReturned</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Age</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRows_standard4</name>
                <value>
                    <elementReference>selectedOrphans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrphans</assignToReference>
                <name>selectedRows_standard4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>allOrphansReturned</assignToReference>
                <name>mydata_standard4</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>42</locationX>
        <locationY>46</locationY>
        <connector>
            <targetReference>Get_Contact_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allOrphansReturned</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>alreadySelectedOrphanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>coll_ProductAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
    <variables>
        <name>orphanCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>United Kingdom</stringValue>
        </value>
    </variables>
    <variables>
        <name>orphanID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrphans</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>sobj_SelectedOrphanAllocation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>npsp__Allocation__c</objectType>
    </variables>
</Flow>
