flows/Orphan_Visit_Form_on_Visit.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_Orphan</name>
        <label>Redirect to Orphan</label>
        <locationX>747</locationX>
        <locationY>1646</locationY>
        <actionName>c:redirectToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_if_Orphan_Visit_records_exist</name>
        <label>Check if Orphan Visit records exist</label>
        <locationX>616</locationX>
        <locationY>446</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Orphan_Visit_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Health_info</targetReference>
            </connector>
            <label>If true</label>
        </rules>
        <rules>
            <name>If_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Orphan_Visit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Visit_Information</targetReference>
            </connector>
            <label>If False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DentalConditionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Dental_Condition_Status__c</picklistField>
        <picklistObject>Health_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DistanceToSchool</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Distance_To_School_MOU__c</picklistField>
        <picklistObject>Academic_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EnrollmentYear</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Enrolment_Year__c</picklistField>
        <picklistObject>Academic_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GeneralHealthStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>General_Health_Status__c</picklistField>
        <picklistObject>Health_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HearingConditionStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Hearing_Condition_Status__c</picklistField>
        <picklistObject>Health_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>HeightMOU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Height_MOU__c</picklistField>
        <picklistObject>Health_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LocationOfVisit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Location_of_Visit__c</picklistField>
        <picklistObject>Orphan_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PoorToExcellent</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accommodation__c</picklistField>
        <picklistObject>Orphan_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PurposeOfVisit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Purpose_of_Visit__c</picklistField>
        <picklistObject>Orphan_Visit__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SchoolResidency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>School_Residency__c</picklistField>
        <picklistObject>Academic_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TransportToSchool</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Transport_to_School__c</picklistField>
        <picklistObject>Academic_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeOfSchool</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_School__c</picklistField>
        <picklistObject>Academic_Information__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WeightMOU</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Weight_MOU__c</picklistField>
        <picklistObject>Health_Information__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>DateToday</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>IF( MONTH(TODAY())&gt;6, 
      DATE( YEAR(TODAY())+1 , MOD (MONTH(TODAY())+6,12) , DAY(TODAY()) ) , 
      DATE( YEAR(TODAY()) , MONTH(TODAY())+6 , DAY(TODAY()) )
)</expression>
    </formulas>
    <interviewLabel>Orphan Visit Form on Visit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orphan Visit Form on Visit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Academic_Information</name>
        <label>Create Academic Information</label>
        <locationX>616</locationX>
        <locationY>1286</locationY>
        <connector>
            <targetReference>Create_Orphan_Visit_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Class_Number_ID__c</field>
            <value>
                <elementReference>Class_Number_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Number__c</field>
            <value>
                <elementReference>Class_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Size__c</field>
            <value>
                <elementReference>Class_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Teacher_Name__c</field>
            <value>
                <elementReference>Class_Teacher_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance_To_School_MOU__c</field>
            <value>
                <stringValue>Km</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance_To_School__c</field>
            <value>
                <elementReference>Distance_to_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Enrolment_Year__c</field>
            <value>
                <elementReference>Enrollment_Year</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan__c</field>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Residency__c</field>
            <value>
                <elementReference>School_Residency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>SchoolName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_to_School__c</field>
            <value>
                <elementReference>Transport_to_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_School__c</field>
            <value>
                <elementReference>Type_of_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Academic_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Health_Information</name>
        <label>Create Health Information</label>
        <locationX>616</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>Create_Academic_Information</targetReference>
        </connector>
        <inputAssignments>
            <field>Dental_Condition_Status__c</field>
            <value>
                <elementReference>Dental_Condition_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Health_Status__c</field>
            <value>
                <elementReference>General_Health_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hearing_Condition_Status__c</field>
            <value>
                <elementReference>Hearing_Condition_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_MOU__c</field>
            <value>
                <stringValue>Meters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan__c</field>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_MOU__c</field>
            <value>
                <stringValue>KG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight_1</elementReference>
            </value>
        </inputAssignments>
        <object>Health_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Orphan_Visit_Record</name>
        <label>Create Orphan Visit Record</label>
        <locationX>616</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Accommodation__c</field>
            <value>
                <elementReference>Accommodation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attitude_of_Guardian__c</field>
            <value>
                <elementReference>Attitude_of_Guardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hygiene__c</field>
            <value>
                <elementReference>Hygiene</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Visit__c</field>
            <value>
                <elementReference>Location_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan__c</field>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Visit__c</field>
            <value>
                <elementReference>Purpose_of_visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welfare_of_Guardian__c</field>
            <value>
                <elementReference>Welfare_of_Guardian</elementReference>
            </value>
        </inputAssignments>
        <object>Orphan_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Academic_Info</name>
        <label>Get Academic Info</label>
        <locationX>399</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Visit_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExisitingOrphanvisit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Academic_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Health_info</name>
        <label>Get Health info</label>
        <locationX>399</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Academic_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Visit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExisitingOrphanvisit.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Health_Information__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Orphan_Visit</name>
        <label>Get Orphan Visit</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Previous_Orphan_Visit_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Orphan_Visit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Orphan_Visit_Record</name>
        <label>Get Previous Orphan Visit Record</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Orphan_Visit_records_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Orphan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Orphan_Visit__c</object>
        <outputReference>ExisitingOrphanvisit</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Accommodation__c</queriedFields>
        <queriedFields>Attitude_of_Guardian__c</queriedFields>
        <queriedFields>Hygiene__c</queriedFields>
        <queriedFields>Location_of_Visit__c</queriedFields>
        <queriedFields>Orphan__c</queriedFields>
        <queriedFields>Purpose_of_Visit__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Visit_Date__c</queriedFields>
        <queriedFields>Welfare_of_Guardian__c</queriedFields>
        <queriedFields>Comments__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>616</locationX>
        <locationY>1526</locationY>
        <connector>
            <targetReference>SuccessMessage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Orphan_Visit.Orphan__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Class_Number_ID__c</field>
            <value>
                <elementReference>Class_Number_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Number__c</field>
            <value>
                <elementReference>Class_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Class_Teacher_Name__c</field>
            <value>
                <elementReference>Class_Teacher_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Dental_Condition_Status__c</field>
            <value>
                <elementReference>Dental_Condition_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance_To_School_MOU__c</field>
            <value>
                <stringValue>Km</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Distance_To_School__c</field>
            <value>
                <elementReference>Distance_to_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>General_Health_Status__c</field>
            <value>
                <elementReference>General_Health_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hearing_Condition_Status__c</field>
            <value>
                <elementReference>Hearing_Condition_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height_MOU__c</field>
            <value>
                <stringValue>Meters</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Height__c</field>
            <value>
                <elementReference>Height_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan_ClassSize__c</field>
            <value>
                <elementReference>Class_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan_Transport_To_School__c</field>
            <value>
                <elementReference>Transport_to_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Orphan_Visit__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School_Residency__c</field>
            <value>
                <elementReference>School_Residency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>School__c</field>
            <value>
                <elementReference>SchoolName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_School__c</field>
            <value>
                <elementReference>Type_of_School</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight_MOU__c</field>
            <value>
                <stringValue>KG</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weight__c</field>
            <value>
                <elementReference>Weight_1</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Orphan_Visit_Status</name>
        <label>Update Orphan Visit Status</label>
        <locationX>616</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>Create_Health_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Accommodation__c</field>
            <value>
                <elementReference>Accommodation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attitude_of_Guardian__c</field>
            <value>
                <elementReference>Attitude_of_Guardian</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hygiene__c</field>
            <value>
                <elementReference>Hygiene</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location_of_Visit__c</field>
            <value>
                <elementReference>Location_of_Visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purpose_of_Visit__c</field>
            <value>
                <elementReference>Purpose_of_visit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Completed_Date_time__c</field>
            <value>
                <elementReference>DateToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Visit_Date__c</field>
            <value>
                <elementReference>Visit_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Welfare_of_Guardian__c</field>
            <value>
                <elementReference>Welfare_of_Guardian</elementReference>
            </value>
        </inputAssignments>
        <object>Orphan_Visit__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Academic_Information</name>
        <label>Academic Information</label>
        <locationX>616</locationX>
        <locationY>806</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Orphan_Image_Upload</targetReference>
        </connector>
        <fields>
            <name>Page3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Academic Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Academic_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Academic_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SchoolName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.School__c</elementReference>
                    </defaultValue>
                    <fieldText>School</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Transport_to_School</name>
                    <choiceReferences>TransportToSchool</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Transport_to_School__c</elementReference>
                    </defaultValue>
                    <fieldText>Transport to School</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Distance_to_School</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Distance_To_School__c</elementReference>
                    </defaultValue>
                    <fieldText>Distance to School(in Kms)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Academic_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type_of_School</name>
                    <choiceReferences>TypeOfSchool</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Type_of_School__c</elementReference>
                    </defaultValue>
                    <fieldText>Type of School</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Enrollment_Year</name>
                    <choiceReferences>EnrollmentYear</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Enrolment_Year__c</elementReference>
                    </defaultValue>
                    <fieldText>Enrollment Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>School_Residency</name>
                    <choiceReferences>SchoolResidency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.School_Residency__c</elementReference>
                    </defaultValue>
                    <fieldText>School Residency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Academic_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Academic_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Class_Teacher_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Class_Teacher_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Class Teacher Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Class_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Class_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Class Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Class_Number_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Class_Number_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>Class Number / ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Class_Size</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Academic_Info.Class_Size__c</elementReference>
                    </defaultValue>
                    <fieldText>Class Size</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Health_Information</name>
        <label>Health Information</label>
        <locationX>616</locationX>
        <locationY>686</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Academic_Information</targetReference>
        </connector>
        <fields>
            <name>Page2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Health Information&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Health_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Height_1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Health_info.Height__c</elementReference>
                    </defaultValue>
                    <fieldText>Height(in Meters)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Health_Information_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Health_Information_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Weight_1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>Get_Health_info.Weight__c</elementReference>
                    </defaultValue>
                    <fieldText>Weight(in Kgs)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>General_Health_Status</name>
            <choiceReferences>GeneralHealthStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Health_info.General_Health_Status__c</elementReference>
            </defaultValue>
            <fieldText>General Health Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dental_Condition_Status</name>
            <choiceReferences>DentalConditionStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Health_info.Dental_Condition_Status__c</elementReference>
            </defaultValue>
            <fieldText>Dental Condition Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hearing_Condition_Status</name>
            <choiceReferences>HearingConditionStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Health_info.Hearing_Condition_Status__c</elementReference>
            </defaultValue>
            <fieldText>Hearing Condition Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SuccessMessage</name>
        <label>Success</label>
        <locationX>616</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirect_to_Orphan</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Record created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Visit_Information</name>
        <label>Visit Information</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Health_Information</targetReference>
        </connector>
        <fields>
            <name>Page1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Orphan Visit Info&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Visit_Date</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>DateToday</elementReference>
            </defaultValue>
            <fieldText>Visit Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Purpose_of_visit</name>
            <choiceReferences>PurposeOfVisit</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Purpose_of_Visit__c</elementReference>
            </defaultValue>
            <fieldText>Purpose of visit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Location_of_Visit</name>
            <choiceReferences>LocationOfVisit</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Location_of_Visit__c</elementReference>
            </defaultValue>
            <fieldText>Location of Visit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Accommodation</name>
            <choiceReferences>PoorToExcellent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Accommodation__c</elementReference>
            </defaultValue>
            <fieldText>Accommodation</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Hygiene</name>
            <choiceReferences>PoorToExcellent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Hygiene__c</elementReference>
            </defaultValue>
            <fieldText>Hygiene</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Welfare_of_Guardian</name>
            <choiceReferences>PoorToExcellent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Welfare_of_Guardian__c</elementReference>
            </defaultValue>
            <fieldText>Welfare of Guardian</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Attitude_of_Guardian</name>
            <choiceReferences>PoorToExcellent</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ExisitingOrphanvisit.Attitude_of_Guardian__c</elementReference>
            </defaultValue>
            <fieldText>Attitude of Guardian</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Orphan_Visit</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Orphan_Image_Upload</name>
        <label>Orphan Image Upload</label>
        <locationX>616</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Update_Orphan_Visit_Status</targetReference>
        </connector>
        <flowName>Orphan_Photo_Upload</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AcademicInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Academic_Information__c</objectType>
    </variables>
    <variables>
        <name>ExisitingOrphanvisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orphan_Visit__c</objectType>
    </variables>
    <variables>
        <name>OrphanHealth</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Health_Information__c</objectType>
    </variables>
    <variables>
        <name>OrphanVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Orphan_Visit__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
