flows/Payment_Plan_Orphan_Selector.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Selected_Orphan_Id</name>
        <label>Assign Selected Orphan Id</label>
        <locationX>138</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>Sponsorship.Orphan__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSponsorShip.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sponsorship_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSponsorShip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Sponsorship_0</name>
        <label>CreateSponsorship</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Sponsorship.Recurring_Donation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecurringDonation.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecurringDonation.npe03__Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecurringDonation.npsp__EndDate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Sponsorship.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sponsored</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DonorNameAssignment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DonorNameAssignment_0</name>
        <label>DonorNameAssignment</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>DonorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRecurringDonation.npe03__Donor_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateSponsorShip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mark_Inactive_Existing_Sponsorship</name>
        <label>Mark Inactive Existing Sponsorship</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Get_Existing_Active_Sponsorship.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Orphan_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OrphanNameAssignment</name>
        <label>OrphanNameAssignment</label>
        <locationX>138</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>OrphanName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateSponsorShip.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Selected_Orphan_Id</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckForActiveSponsorshipRecord</name>
        <label>CheckForActiveSponsorshipRecord</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Orphan_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Any_Active_Sponsorship</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Active_Sponsorship</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Inactive_Existing_Sponsorship</targetReference>
            </connector>
            <label>Has Any Active Sponsorship</label>
        </rules>
    </decisions>
    <formulas>
        <name>Now_Date_Time</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>Sponsorship_Name</name>
        <dataType>String</dataType>
        <expression>{!DonorName}&amp;&apos; Sponsored &apos;&amp;{!OrphanName}</expression>
    </formulas>
    <interviewLabel>Orphan_Selector {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Plan Orphan_Selector</label>
    <loops>
        <name>CreateSponsorShip</name>
        <label>CreateSponsorShip</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <collectionReference>OrphanList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OrphanNameAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateExistingSponsorship</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateNewSponsorship</name>
        <label>CreateNewSponsorship</label>
        <locationX>50</locationX>
        <locationY>1694</locationY>
        <inputReference>Sponsorship</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Active_Sponsorship</name>
        <label>Get Existing Active Sponsorship</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckForActiveSponsorshipRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recurring_Donation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sponsorship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecurringDonation</name>
        <label>GetRecurringDonation</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existing_Active_Sponsorship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>npsp__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>npe03__Recurring_Donation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Orphan_List</name>
        <label>Orphan List</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Orphan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Orphan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sponsorship_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Sponsored</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>allOrphanList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Age__c</queriedFields>
        <queriedFields>Country__c</queriedFields>
        <queriedFields>Gender__c</queriedFields>
        <queriedFields>Sponsorship_Status__c</queriedFields>
        <sortField>Sponsorship_Status__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>UpdateExistingSponsorship</name>
        <label>UpdateExistingSponsorship</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>CreateNewSponsorship</targetReference>
        </connector>
        <inputReference>Get_Existing_Active_Sponsorship</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Orphan_Error_Screen</name>
        <label>Orphan Error Screen</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrphanErrorText</name>
            <fieldText>&lt;p&gt;No Orphan Sponsorship Active&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Orphan</name>
        <label>Select Orphan</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Sponsorship_0</targetReference>
        </connector>
        <fields>
            <name>GetOrphans</name>
            <extensionName>c:datatableFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectedRows_standard4</name>
                <value>
                    <elementReference>OrphanList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleSelection</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mydata_standard4</name>
                <value>
                    <elementReference>allOrphanList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_fieldName</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column01_label</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_fieldName</name>
                <value>
                    <stringValue>Country__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column02_label</name>
                <value>
                    <stringValue>Country</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_fieldName</name>
                <value>
                    <stringValue>Age__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column03_label</name>
                <value>
                    <stringValue>Age</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_fieldName</name>
                <value>
                    <stringValue>Sponsorship_Status__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column04_label</name>
                <value>
                    <stringValue>Status</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_fieldName</name>
                <value>
                    <stringValue>Gender__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>column05_label</name>
                <value>
                    <stringValue>Gender</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showButtons</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>allOrphanList</assignToReference>
                <name>mydata_standard4</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>OrphanList</assignToReference>
                <name>selectedRows_standard4</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecurringDonation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allOrphanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>DonorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrphanList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OrphanName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sponsorship</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Sponsorship__c</objectType>
    </variables>
</Flow>
