flows/Pledge_Donation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>AccountId</description>
        <name>Assign_Record_Id_To_AccountId</name>
        <label>Assign Record Id To AccountId</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donation_Type_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_recordId_to_CampaignId</name>
        <label>Assign recordId to CampaignId</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Donation_Type_screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>ContactId</description>
        <name>Assign_recordId_to_ContactId</name>
        <label>Assign recordId to ContactId</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccountId</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_the_Donation_is_Recurring</name>
        <label>Check If the Donation is Recurring</label>
        <locationX>446</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Create_Donation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Recurring_Donation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DonationType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>SD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Donation_Type_screen_0</targetReference>
            </connector>
            <label>Is Recurring Donation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Id</name>
        <label>Check Record Id</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Id_is_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_to_ContactId</targetReference>
            </connector>
            <label>Record Id is Contact</label>
        </rules>
        <rules>
            <name>Record_Id_is_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Record_Id_To_AccountId</targetReference>
            </connector>
            <label>Record Id is Account</label>
        </rules>
        <rules>
            <name>Record_Id_is_Campaign_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>701</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_recordId_to_CampaignId</targetReference>
            </connector>
            <label>Record Id is Campaign Id</label>
        </rules>
    </decisions>
    <description>When setup donation from pledge campaign</description>
    <dynamicChoiceSets>
        <name>ch_CurrencyList</name>
        <dataType>String</dataType>
        <displayField>IsoCode</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>CurrencyType</object>
        <outputAssignments>
            <assignToReference>varCurrencyIsoCode</assignToReference>
            <field>IsoCode</field>
        </outputAssignments>
        <sortField>IsCorporate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>MediumPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Medium__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentSchedule</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>5</limit>
        <object>HA_Payment_Schedule__c</object>
        <outputAssignments>
            <assignToReference>DonationType</assignToReference>
            <field>Code__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecurringType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recurring_Type__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>EffectiveDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(ADDMONTHS({!Close_Date},1)), MONTH(ADDMONTHS({!Close_Date},1)), 1)</expression>
    </formulas>
    <formulas>
        <description>Today Date for Close date</description>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Pledge_Donation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pledge_Donation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccountId</name>
        <label>GetAccountId</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Donation_Type_screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <description>Select Donation Type</description>
        <name>Donation_Type_screen</name>
        <label>Donation Type</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_If_the_Donation_is_Recurring</targetReference>
        </connector>
        <fields>
            <name>Donation_Type_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pledge_Campaign</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Pledge_Campaign__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Pledge</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Recurring_Donation_Batch_Errors__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>CampaignId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Donation_Type_screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Donor</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Donor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Donor </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Campaign</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>ContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ContactId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Type_screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Currency</name>
                    <choiceReferences>ch_CurrencyList</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Donation_Type_screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Schedule</name>
                    <choiceReferences>PaymentSchedule</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Donation Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Type_screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Medium</name>
                    <choiceReferences>MediumPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Medium</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Donation_Type_screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Close_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayDate</elementReference>
                    </defaultValue>
                    <fieldText>Donation Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Type_screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>3.0</numberValue>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The amount is Must Greater than 2 GBP&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Amount}&gt;2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Select Donation Type</description>
        <name>Donation_Type_screen_0</name>
        <label>Donation Type</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Donation</targetReference>
        </connector>
        <fields>
            <name>Donation_Type_screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recurring_Type_0</name>
                    <choiceReferences>RecurringType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recurring Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Type_screen_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Effective_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>EffectiveDate</elementReference>
                    </defaultValue>
                    <fieldText>Effective Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>DonationType</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>SD</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Donation_Type_screen_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Donation_Type_screen_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Installments_0</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Installments</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Number of Installment Required for Fixed Recurring Donation&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Donation_Type_screen_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Donation</name>
        <label>Create Donation</label>
        <locationX>446</locationX>
        <locationY>1070</locationY>
        <flowName>Create_Donation_For_Selected_Pledge</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>contactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationAmount</name>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>donationType</name>
            <value>
                <elementReference>DonationType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EffectiveDate</name>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Medium</name>
            <value>
                <elementReference>Medium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>NumberofInstallments</name>
            <value>
                <elementReference>Number_of_Installments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PaymentScheduleId</name>
            <value>
                <elementReference>Payment_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RecurringType</name>
            <value>
                <elementReference>Recurring_Type_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SourceCampaignId</name>
            <value>
                <elementReference>Pledge_Campaign.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varCurrencyIsoCode</name>
            <value>
                <elementReference>varCurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DonationType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the created opportunity</description>
        <name>opportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varCurrencyIsoCode</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
